body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background:   #f0f0f0;
    width: 100%;
    box-shadow: 10px black ;
}

.menu{
    position: absolute;
    left: 35%;
}
.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;

}
.menu a:hover{
    color: #6ab04c;

}
.btn{
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span{
    background: #6ab04c ;
}
.btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}
table {
    border-collapse: collapse;
    width: 30%;
    display: inline-block;
    margin: 2.5%;
}

  th, td {
    padding: 10px 15px;
    border: 1px solid #ccc;
  }
  td{
    text-align: center;
  }

  th {
    background-color: #d3d3d3d1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  tr {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Animação de Fundo */
  }
  #mapa {
    height: 34em;
    width: 50%;
    float: right;
}
.pedido{
  display: inline-block;
  width: 50%;
  height: 34em;
}
@media (max-width: 700px) {
  .navbar {
      overflow: visible;
  }

  .menu {
      width: 100%;
      right: 0;
      top: 80px;
      background: #f1f1f1;
      overflow: hidden;
      max-height: 0;
  }

  .menu a {
      display: block;
      text-align: center;
      padding: 10px;
      margin: 0;

  }

  .btn {
      display: block;
      cursor: pointer;
  }

  .show {
      max-height: 500px;
  }
}